//LEFT ARROW
%inc_Lef_tArrow{
    background: white url(../images/sprite.svg) -3px -174px/30px no-repeat;
    @include height_width(40px,24px);
    cursor: pointer;
    opacity: 5 !important;
    transform: rotate(180deg);
}
//RIGHT ARROW   
%inc_Right_Arrow {
    background: white url(../images/sprite.svg) -2px -171px/30px no-repeat;
    @include height_width(40px,24px);
    cursor: pointer;
}
//PLUS ICON
%inc_Plus_Icon{
    background: url(../images/sprite.svg) 7px -104px/26px no-repeat;
    @include height_width(40px,40px);
 
    @include media_query("900","max"){
        background: url(../images/sprite.svg) 4px -98px/30px no-repeat;
    }
    @include media_query("820","max"){
        background: #ffffff url(../images/sprite.svg) -1px -62px/32px no-repeat;
        @include height_width(30px,30px);
    }
} 
//UNCHECK ICON
%inc_Uncheck_Icon{
    background: transparent url(../images/inc_sprite.svg) -60px -108px/250px no-repeat;
    @include height_width(35px,35px);
}
//CHECK ICON
%inc_Check_Icon{
    background:  transparent url(../images/inc_sprite.svg) 3px -108px/250px no-repeat;
    @include height_width(35px,35px);
}
//EDIT ICON
%inc_Edit_Icon{
    background: transparent url(../images/inc_sprite.svg) -169px -47px/190px no-repeat;
    @include height_width(16px,16px);
    cursor: pointer;
}
//DELETE ICON
%inc_Delete_Icon{
    background: transparent url(../images/inc_sprite.svg) -128px -46px/186px no-repeat;
    @include height_width(16px,16px);
    cursor: pointer;
}
//CLOSE ICON
%inc_Close_Icon{
    background: url(../images/sprite.svg) -3px -252px/23px no-repeat;
    @include height_width(32px,32px);
    cursor: pointer;
}
//CART ICON
%inc_Cart_Icon{
    background: transparent url(../images/inc_sprite.svg) -207px -586px/300px no-repeat;
    @include height_width(35px,35px);
}
//ZOOM ICON
%inc_Zoom_Icon{
    background: transparent url(../images/inc_sprite.svg) -194px -253px/280px no-repeat;
    @include height_width(25px,25px);
    cursor: pointer;
}
//QTY PLUS
%inc_Qty_Plus{
    background:url(../images/sprite.svg) -2px -429px/37px no-repeat;
    @include height_width(35px,35px);
}
//QTY MINUS
%inc_Qty_Minus{
    background: url(../images/sprite.svg) 1px -437px/35px no-repeat;
    @include height_width(35px,35px);
}
//SIDEBAR CHECK ICON
%inc_Sidebar_Check_Icon{
    background: transparent url(../images/inc_sprite.svg) -177px 1px/200px no-repeat;
    @include height_width(20px,20px);
}


%ratings{
    display: flex; 
    flex-flow: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    font-family: "Museo", sans-serif !important;;
    &.noratings{
        display: none;
    }
    .rating_count{
        font-size: 12px;
        margin-left: 5px;
    }
    .rating_stars{
        position: relative;
        display: inline-block;
        color: transparent;
        height: 18px;
        min-width: 73px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            background: url(../images/inc_rating.svg) 1px -13px/auto no-repeat;
            width: 73px;
            height: 15px;
        }

        &::after {
            width: 0px;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            overflow: hidden;
            background: url(../images/inc_rating.svg) 1px 1px/auto no-repeat;
            z-index: 2;
            height: 15px;
        }

        &.rating_0-0:after { width: 0%; }
        &.rating_0-1:after { width: 2%; }
        &.rating_0-2:after { width: 4%; }
        &.rating_0-3:after { width: 6%; }
        &.rating_0-4:after { width: 8%; }
        &.rating_0-5:after { width: 10%; }
        &.rating_0-6:after { width: 12%; }
        &.rating_0-7:after { width: 14%; }
        &.rating_0-8:after { width: 16%; }
        &.rating_0-9:after { width: 18%; }
        
        &.rating_1-0:after { width: 20%; }
        &.rating_1-1:after { width: 22%; }
        &.rating_1-2:after { width: 24%; }
        &.rating_1-3:after { width: 26%; }
        &.rating_1-4:after { width: 28%; }
        &.rating_1-5:after { width: 30%; }
        &.rating_1-6:after { width: 32%; }
        &.rating_1-7:after { width: 34%; }
        &.rating_1-8:after { width: 36%; }
        &.rating_1-9:after { width: 38%; }
        &.rating_2-0:after { width: 40%; }
        
        &.rating_2-0:after { width: 40%; }
        &.rating_2-1:after { width: 42%; }
        &.rating_2-2:after { width: 44%; }
        &.rating_2-3:after { width: 46%; }
        &.rating_2-4:after { width: 48%; }
        &.rating_2-5:after { width: 50%; }
        &.rating_2-6:after { width: 52%; }
        &.rating_2-7:after { width: 54%; }
        &.rating_2-8:after { width: 56%; }
        &.rating_2-9:after { width: 58%; }
        &.rating_3-0:after { width: 60%; }

        &.rating_3-0:after { width: 60%; }
        &.rating_3-1:after { width: 62%; }
        &.rating_3-2:after { width: 64%; }
        &.rating_3-3:after { width: 66%; }
        &.rating_3-4:after { width: 68%; }
        &.rating_3-5:after { width: 70%; }
        &.rating_3-6:after { width: 72%; }
        &.rating_3-7:after { width: 74%; }
        &.rating_3-8:after { width: 76%; }
        &.rating_3-9:after { width: 78%; }
        &.rating_4-0:after { width: 80%; }


        &.rating_4-0:after { width: 80%; }
        &.rating_4-1:after { width: 82%; }
        &.rating_4-2:after { width: 84%; }
        &.rating_4-3:after { width: 86%; }
        &.rating_4-4:after { width: 88%; }
        &.rating_4-5:after { width: 90%; }
        &.rating_4-6:after { width: 92%; }
        &.rating_4-7:after { width: 94%; }
        &.rating_4-8:after { width: 96%; }
        &.rating_4-9:after { width: 98%; }
        &.rating_5-0:after { width: 100%; }
    }
  
}



.inc_pdp_block,
.inc_sidebar_modal_block,
.inc_af_block 
{
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="number"]::selection{
        background: transparent;
    }
  }
    