.inc_justerror {
    @include flexbox();
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #CDCDCD;
    .errorimg {
        width: 60px;
        height: 60px;
        object-fit: contain;
        padding: 0;
    }
    .inc_justerror_text {
        div {
            color: #3C3C3B;
            font-family: $font-family;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            @media (max-width: 420px) {
                font-size: 11px;
            }
        }
       .inc_red_color {
            font-size: 14px;
            color: #D8435E;
            font-weight: 400;
            line-height: 20px;
            padding-left: 20px;
            position: relative;
            text-align: left;
            @media (max-width: 420px) {
                font-size: 11px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -4px;
                width: 20px;
                height: 20px;
                background: url("../images/error_icon.png") center center no-repeat ;
            }
        }
    }
}


.inc_sub_total {
    .inc_subtotal_block{
        padding: 0 8px;
        margin-bottom: 16px;
        .inc_label {
            color: #3C3C3B;
            font-size: 18px;
            font-weight: 700;
            font-family: $font-family;
            span {
                font-weight: 600;
                margin-left: 8px;
            }
           
        }
        .inc_price {
            color: #00B1BF;
            font-size: 28px;
            line-height: 32px;
            margin-top: 5px;
        }
    }
}
.el_inc_added_prod_modal_block {
    &.inc_prod_4,
    &.inc_prod_5{
        @media(max-width: 719px){
            .inc_added_prod_modal {
                .inc_added_client_prod_e {
                    max-width: 20%;
                    min-width: 20%;
                }
            }
        }   
    }
    &.inc_prod_5 {
        @media(max-width: 719px){
            .inc_added_prod_modal {
                .inc_added_client_prod_e:nth-child(4) {
                    .inc_item_prod {
                        top: 240px;
                    }
                }
            }
        }   
    }
    @media (max-width:719px) {
        &.inc_prod_1,
        &.inc_prod_2 {
            .inc_added_prod_modal {
                @include justify-content(center);
            }
        }    
    }
    padding: 5px 0px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    @media (max-width: 719px) {
        padding: 5px 0;
    }
    .inc_added_prod_modal {
        @include flexbox();
        @include justify-content(flex-start);
        align-items: center;
        overflow: auto;
        overflow-y: hidden;
        height: 95px;
        transition: 0.3s;
        scrollbar-width: thin;
        position: static;
        @include scrollbars(3px,3px,3px,#d2cbcb);
        padding: 5px 8px 10px;
        @media (max-width: 719px) {
            padding: 5px 5px 5px;
            height: auto;
            overflow: unset;
            overflow-y: unset;
            flex-wrap: wrap;
        }
        .inc_added_client_prod_e {
            @include flexbox();
            margin-right: 14px;
            align-items: center;
            box-shadow: 0px 1px 3px rgba(0 ,0 ,0 ,0.25);
            border-radius: 3px;
            border: 1.5px solid transparent;
            max-width: 93px;
            min-width: 93px;
            height: 88px;
            @media (max-width: 719px) {
                margin-right: 6px;
                margin-bottom: 10px;
            }
            @media (max-width: 348px) {
                margin-right: 4px;
            }
            @media (max-width: 719px) {
                max-width: 29%;
                min-width: 29%;
                height: 50px;
            }
            .inc_over_image {
                background: #FFFFFF;
                max-width: 100%;
                min-width: 100%;
                height: 100%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    padding: 0;
                }
            }
            
            .inc_item_prod {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                box-shadow: 0px 1px 3px rgba(0 ,0 ,0 ,0.25);
                border-radius: 2px;
                z-index: 9999;
                width: auto;
                background: #fff;
                display: flex;
                align-items: center;
                flex-direction: column;
                height: auto;
                align-items: flex-start;
                top: 350px;
                left: 10px;
                padding: 15px 24px;
                max-height: 100px;
                font-family: $font-family;
                @media (max-width: 920px) {
                    max-height: initial;
                }
                @media (max-width: 719px) {
                   left: 10px;
                   right: 10px;
                   top: 242px;
                }
                
                img {
                    display: none;
                }
                p {
                    margin:  0px 0 8px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #3C3C3B;
                    text-align: left;
                    &:nth-child(2) {
                        order: 1;
                        max-width: 380px;
                        text-align: left;
                        font-size: 14px !important;
                        @media (max-width: 1024px) and (min-width: 920px) {
                            max-width: 450px;
                        }
                        @media (max-width: 920px) {
                            max-width: 218px;
                        }
                        @media (max-width: 719px) {
                            max-width: initial;
                        }
                    }
                    &:nth-child(3) {
                        order: 3;
                    }
                }
               
                .text-color-viovet-teal {
                    font-size: 16px;
                    position: relative;
                    padding-left: 50px;
                    order: 2;
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "Price:";
                    }
                }
                .text-color-viovet-teal-darker {
                    display: none;
                }
            }
            &:hover {
                
                    border-color:  #F9AE00;
                    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                    // border-radius: 3px;
                
                .inc_item_prod {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}