.incButtonPrimary{
    background: $primary;
    border-radius: 3px;
    padding: 12px 30px;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    img{
        margin: 0px 5px;
    }
    span{
        z-index: 2;
        
    }
    &:hover{
        box-shadow: inset 0 0 0 2em #019185;
    }
}

       
.incButtonSecondary{
    background: $white;
    border: 1px solid $primary;
    border-radius: 3px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    color: $primary;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.2s;

    &:hover{
        box-shadow: inset 0 0 0 2em $primary;
        color: $white;
    }
}


.incButtonProduct{
    background: $backgoundLight;
    border: 1px solid $borderColor2 ;
    border-radius: 5px;
    padding:8px 20px;
    font-size: 14px;
    font-weight: 700;
    color: $fontColor;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.2s;

    &:hover{
        box-shadow: inset 0 0 0 2em $borderColor3;
    }
}


.incInputPrimary{
    position: relative;
    width: 100%;
    min-height: 48px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 19px;
    color: $fontColor;
    background: $white;
    border: 1px solid $borderColor2;
    box-sizing: border-box;
    border-radius: 3px;
    transition: 0.2s;
    &::placeholder {
      font-size: 14px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.3);
      vertical-align: middle;
    }
    &:focus{
        border: 1px solid $primary;
    }
}