@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import "./reset";
@import "./variables";
@import "./buttons";
@import "./header";
@import "./sidemenu";
@import "./mini_header";
@import "./login";
@import "./product";
@import "./collection_product";
@import "./collection_sidebar";
@import "./filter";
@import "./create_product";

body {
  font-family: "Open Sans", sans-serif;
  &.overflowHidden {
    overflow: hidden;
  }
}

.mainWrapper {
  margin-left: 70px;
  transition: 0.2s;
  .publish_collection_button_block {
    width: calc(100% - 71.1%);
    @media screen and (max-height: 920px) {
      width: calc(100% - 71.3%);
    }
  }
  &.sidebarActive {
    margin-left: 214px;
    .publish_collection_button_block {
      width: calc(100% - 73.4%);
      @media screen and (max-height: 920px) {
        width: calc(100% - 72.5%);
      }
    }
  }
  .productList {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .collectionWrapperFlex {
    display: flex;
    height: 100vh;
    overflow: hidden;
    .productList {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 70%;
      overflow: auto;
      height: calc(100vh - 16vh);
      justify-content: center;
      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #6d6d6d;
      }
    }
    .createCollectionBlock {
      flex-basis: 30%;
    }
  }
}
